.home-body {
  color: #fff;
  background-color: #6B003C;
  /* TODO: Replace prefixed gradients with autoprefixer */
  background-image:
    -webkit-radial-gradient(
      top right,
      circle,
      #FF5400,
      #6B003C
    );
  background-image:
    -o-radial-gradient(
      top right,
      circle,
      #FF5400,
      #6B003C
    );
  background-image:
    radial-gradient(
      circle at top right,
      #FF5400,
      #6B003C
    );

  /* Fixes display of gradient if content is shorter than the screen */
  min-height: 100vh;
}

/* Text selection colour */
::-moz-selection {
  color: #fff;
  background: #FF5400;
}
::selection {
  color: #fff;
  background: #FF5400;
}

/* START - BOOTSTRAP OVERRIDES */
/* BOOTSTRAP FONT OVERRIDES */
/* Heading font: Roboto */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Roboto', sans-serif;
}

/* Body font: Roboto */
:root {
  --font-family-sans-serif: 'Roboto', sans-serif;
}
html, body, .tooltip, .popover {
  font-family: 'Roboto', sans-serif;
}

/* BOOTSTRAP LINK/BUTTON OVERRIDES */
a {
  color: #FF5400;
}
a:hover {
  /* #FF5400 darkened 10% */
  color: #CC4300 !important;
}
.btn.btn-primary {
  background-color: #FF5400 !important;
  /* #FF5400 darkened 5% */
  border-color: #E64C00;
}
.btn.btn-primary:hover, .btn.btn-primary:active {
  /* #FF5400 darkened 5% */
  background-color: #E64C00 !important;
  /* #FF5400 darkened 10% */
  border-color: #CC4300 !important;
  /* #FFF darkened 10% */
  color: #E6E6E6 !important;
}
.btn.btn-primary:focus {
  /* #FF5400 darkened 10% */
  box-shadow: 0 0 0 0.2rem rgba(204, 67, 0, .5) !important;
}

/* BOOTSTRAP MISC OVERRIDES */
hr {
  border-top-color: #fff;
}
/* END - BOOTSTRAP OVERRIDES */

.heading {
  margin-bottom: 3rem;
}

.subheading {
  margin-bottom: 1.5rem;
}

/* Add spacing between sections */
.section {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
/* Remove extra padding on first and last section, doesn't correctly handle nested sections */
.section:first-of-type {
  margin-top: -1.5rem;
}
.section:last-of-type {
  margin-bottom: -1.5rem;
}

.socials-link:hover {
  /* Fixes underscore appearing next to fontawesome icon on hover */
  text-decoration: none;
}

.socials-link {
  color: #6B003C;
}

.socials-link:hover {
  color: #FF5400;
}

.link-neo-arcade {
  text-decoration: underline;
  color: #EAC67A;
}

.link-neo-arcade:hover {
  /* Darken #EAC67A 10% */
  color: #E3b34E !important;
}
